{% extends 'ApplicationBrickstormSiteBundle::layout.html.twig' %}

{% block title %}Brickstorm - offline{% endblock %}


{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Developing humanity in the real world</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-large">Join &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>School</h2>
    <p>Architecture concours...</p>
    <p><a class="btn btn-success" href="#">Join &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Bricks for life</h2>
    <p>Your house like as easily as a lego.</p>
    <p><a class="btn" href="#">Join &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Pioche</h2>
    <p>Bring your city where she should be.</p>
    <p><a class="btn" href="#">Join &raquo;</a></p>
  </div>
</div>
{% endblock %}