{% extends 'ApplicationBrickstormSiteBundle::layout.html.twig' %}

{% block title %}Brickstorm - ...{% endblock %}


{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Developing humanity</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-large">Join &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>JukeBox</h2>
    <p>Building teh playlist together.</p>
    <p><a class="btn btn-success" href="#">Started &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>SmsFood</h2>
    <p>Easy order for food.</p>
    <p><a class="btn btn-success" href="#">Started &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>HumanRoads</h2>
    <p>When making live choice knowing what others have done before !.</p>
    <p><a class="btn btn-success" href="#">Started &raquo;</a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>Parliament</h2>
    <p>Reappriopriate democracy</p>
    <p><a class="btn btn-success" href="#">Started &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>TodoForPresident</h2>
    <p>Back to work !</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>YouCab</h2>
    <p>You don't need a car, they've one!</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>Fightback</h2>
    <p>A collective survey of big coomercial compagnies or public services. are-they really trying to bring you the best service ?</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Solider</h2>
    <p>We don't need ONG. Help them directly</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
{% endblock %}